<h1>Chúc mừng sinh nhật, {{fullname}}!</h1>
<p>Hôm nay là một ngày đặc biệt, ngày mà bạn thêm tuổi mới.</p>
<p>Chúng tôi xin gửi tới bạn những lời chúc tốt đẹp nhất:</p>
<ul>
  <li>Sống lâu trăm tuổi, hạnh phúc vạn năm.</li>
  <li>Mãi mãi mạnh khỏe, vui vẻ và thành công trong cuộc sống.</li>
  <li>Luôn bên cạnh những người thân yêu, và gặt hái được nhiều niềm vui trong
    cuộc sống.</li>
</ul>
<p>Chúc mừng sinh nhật và một ngày thật đáng nhớ!</p>
<p>Trân trọng,</p>