<p>Xin chào
  <span
    style='font-weight: bold; text-transform: uppercase;'
  >{{name}}</span></p>
<p>Chào mừng bạn đã gia nhập
  <span style='font-weight: bold;'>Đại gia đình VIT</span></p>
<p>Đây là tài khoản đăng nhập của bạn trên hệ thống:</p>
<ul>
  <li>Tên đăng nhập: <span style='font-weight: bold;'>{{username}}</span></li>
  <li>Mật khẩu: <span style='font-weight: bold;'>{{password}}</span></li>
</ul>
<p>Hãy đăng nhập và đổi mật khẩu để có thể sử dụng tài khoản bạn nhé!</p>
<p>Chúc bạn có một ngày tốt lành!</p>