.login-form__container {
    position: relative;
    background: url('../../assets/images/login-bg.png') no-repeat center
        center/cover;
    height: 100vh;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.login-form__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
