.landingPage {
    .section {
        height: 100vh;
        display: block;
    }

    .fp-watermark {
        display: none;
    }
}

.fp-viewing-3 {
    #fixed-element {
        display: none;
    }
}
