.section2 {
    .fp-overflow {
        display: flex;
    }

    .background {
        width: 40vw;
        height: 100vh;
        background-image: url('../../../assets/images/LandingPage/landing-page-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .content {
        width: 60vw;
        padding: 60px 72px 40px 60px;

        h1 {
            margin-bottom: 28px;
            font-size: 50px;
        }

        & > ul {
            list-style: disc;
            padding-left: 20px;
            font-size: 20px;

            & > li {
                margin-bottom: 12px;
                line-height: 2rem;

                & > p.list {
                    margin-bottom: 8px;
                }

                & > ul {
                    padding-left: 20px;
                    list-style: circle;

                    & > li {
                        margin-bottom: 8px;
                        line-height: 1.5rem;

                        a {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
