#fp-nav {
    ul {
        li {
            width: 28px;
            height: 20px;
            margin: 12px;

            a span {
                height: 14px;
                width: 14px;
                margin: -7px 0 0 -7px;
            }

            a.active span,
            &:hover a span,
            &:hover a.active span {
                height: 24px;
                width: 24px;
                margin: -12px 0 0 -12px;
            }
        }
    }
}

.landingPage {
    .section {
        height: 100vh;
        display: block;
    }

    .fp-watermark {
        display: none;
    }

    .section1 {
        .fp-slides {
            height: 64vh;
        }

        .slide {
            display: block;
            overflow: hidden;
            position: relative;

            .image {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 80%;
                position: absolute;
                animation: slide 20s infinite;
                opacity: 0;
            }

            .image1 {
                background-image: url(../../assets/images/LandingPage/slide-image-1.jpg);
            }

            .image2 {
                background-image: url(../../assets/images/LandingPage/slide-image-2.png);
                animation-delay: 4s;
            }

            .image3 {
                background-image: url(../../assets/images/LandingPage/slide-image-3.jpg);
                animation-delay: 8s;
            }

            .image4 {
                background-image: url(../../assets/images/LandingPage/slide-image-4.jpg);
                animation-delay: 12s;
            }

            .image5 {
                background-image: url(../../assets/images/LandingPage/slide-image-5.jpg);
                animation-delay: 16s;
            }
        }

        .content {
            text-align: center;

            .org-name {
                padding: 32px 0 20px 0;
            }

            .org-slogan {
                font-style: italic;
                padding-bottom: 28px;
            }

            .btn-register {
                .wrapper {
                    display: flex;
                    justify-content: center;
                }

                .cta {
                    display: flex;
                    padding: 20px 36px 20px 42px;
                    text-decoration: none;
                    font-family: 'Poppins', sans-serif;
                    font-size: 36px;
                    color: white;
                    background: #3232e6;
                    transition: 1s;
                    border-radius: 20px;
                }

                .cta:focus {
                    outline: none;
                }

                .cta:hover {
                    transition: 0.5s;
                    box-shadow: rgba(46, 78, 240, 0.4) -8px 8px,
                        rgba(54, 70, 240, 0.3) -16px 16px,
                        rgba(62, 46, 240, 0.2) -24px 24px,
                        rgba(70, 54, 240, 0.1) -32px 32px,
                        rgba(78, 46, 240, 0.05) -40px 40px;

                    span {
                        color: var(--main-color-yellow);
                    }
                }

                .cta span:nth-child(2) {
                    transition: 0.5s;
                    margin-right: 0px;
                }

                .cta:hover span:nth-child(2) {
                    transition: 0.5s;
                    margin-right: 45px;
                }

                span {
                    font-weight: bold;
                }

                span:nth-child(2) {
                    width: 14px;
                    margin-left: 14px;
                    position: relative;
                    top: 12%;

                    svg {
                        width: 40px;
                        height: 32px;
                    }
                }

                path.one {
                    transition: 0.4s;
                    transform: translateX(-60%);
                }

                path.two {
                    transition: 0.5s;
                    transform: translateX(-30%);
                }

                .cta:hover path.three {
                    animation: color_anim 1s infinite 0.2s;
                }

                .cta:hover path.one {
                    transform: translateX(0%);
                    animation: color_anim 1s infinite 0.6s;
                }

                .cta:hover path.two {
                    transform: translateX(0%);
                    animation: color_anim 1s infinite 0.4s;
                }

                @keyframes color_anim {
                    0% {
                        fill: white;
                    }
                    50% {
                        fill: var(--main-color-yellow);
                    }
                    100% {
                        fill: white;
                    }
                }
            }
        }
    }

    .section2 {
        .fp-overflow {
            display: flex;
        }

        .background {
            width: 50vw;
            height: 100vh;
            background-image: url('../../assets/images/LandingPage/landing-page-bg.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .content {
            width: 50vw;
            padding: 60px 72px 40px 60px;

            h1 {
                margin-bottom: 28px;
                font-size: 50px;
            }

            & > ul {
                list-style: disc;
                padding-left: 20px;
                font-size: 20px;

                & > li {
                    margin-bottom: 12px;
                    line-height: 2rem;

                    &:nth-child(3),
                    &:nth-child(6) {
                        p {
                            margin-bottom: 8px;
                        }
                    }

                    & > ul {
                        padding-left: 20px;
                        list-style: circle;

                        & > li {
                            margin-bottom: 8px;
                            line-height: 1.5rem;

                            a {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }

    @keyframes slide {
        10% {
            opacity: 1;
        }
        20% {
            opacity: 1;
        }
        30% {
            opacity: 0;
        }
        40% {
            transform: scale(1.1);
        }
    }
}
